* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

button {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.nav-container {
  height: 8vh;
  width: 100%;
  z-index: 500;
  background-color: #7d00b4;
}

nav {
  width: 97%;
  margin: auto auto auto auto;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

nav span img {
  height: 5vh;
  margin-right: 10px;
}

nav span h1 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding: 0px 20px;
}

nav ul li i {
  font-size: 1.6rem;
}

nav ul a {
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0s linear;
  transition: 0s linear;
}

nav ul a:not(.trans-button):hover {
  color: #a3a2a2;
}

nav ul button {
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ffff;
  width: 100px;
  height: 32px;
  border-radius: 11px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul button:hover {
  scale: 1.07;
}

.wrapper {
  height: 90%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav {
  width: 250px;
  height: 100%;
  padding: 15px 15px;
}

.side-nav a {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4d4b4b;
  font-size: 14px;
  font-weight: 600;
}

.img-cont {
  height: 30px;
  width: 30px;
  margin: 0px 10px;
}

.img-cont img {
  height: 100%;
  width: 100%;
}

.right-container {
  width: 84%;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.table {
  margin-top: 50px;
  width: 90%;
  height: auto;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.table th {
  color: #5f5f5f;
  font-size: 12px;
}

.table td {
  font-size: 14px;
}

.table-but {
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  width: 180px;
  height: 36px;
  border-radius: 15px;
  background-color: #a500ec;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  scale: 1.07;
}

.active {
  background-color: #f0f0f0;
}
/*# sourceMappingURL=adminUser.css.map */