html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

button {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-container {
  height: 15vh;
  width: 100%;
  z-index: 500;
}

nav {
  width: 90%;
  margin: 10px auto auto auto;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

nav span img {
  height: 5vh;
  margin-right: 10px;
}

nav span h1 {
  font-size: 2.1rem;
  font-family: 'Cinzel', serif;
  color: #fff;
  font-weight: 800;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding: 0px 20px;
}

nav ul li i {
  font-size: 1.6rem;
}

nav ul a {
  color: #fff;
  margin-left: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: 0s linear;
  transition: 0s linear;
}

nav ul a:not(.trans-button):hover {
  color: #a3a2a2;
}

nav ul button {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #ffff;
  width: 100px;
  height: 32px;
  border-radius: 11px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul button:hover {
  scale: 1.07;
}

.active {
  color: #a3a2a2;
}

body {
  color: black;
}

.wrapper {
  position: relative;
}

.nav-container {
  position: absolute;
}

nav span a h1 {
  color: #fff;
}

nav li a {
  color: #494747;
}

nav li button {
  color: #494747;
  border: 2px solid #131313;
}

.comfort-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

.comfort-container .comfort-left-container {
  background: linear-gradient(to left, #30cfd0 0%, #330867 100%);
  height: 100%;
  width: 30%;
  color: white;
  position: relative;
}

.comfort-container .comfort-right-container {
  position: relative;
  background-color: white;
  height: 100%;
  width: 70vw;
}

.comfort-container .comfort-center-container {
  position: absolute;
  top: 18vh;
  left: 15vw;
  height: 500px;
  width: 350px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}

.comfort-container .comfort-center-container .comfort-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.comfort-container .comfort-center-container .comfort-img-container img {
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.comfort-container .com-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comfort-container .com-social ul {
  margin-right: 1rem;
  font-weight: 700;
  font-family: 'helvetica';
}

.side-comfort-title {
  position: absolute;
  font-size: 8.5rem;
  font-weight: 700;
  left: -20%;
  top: 45%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.comfort-text-container {
  position: absolute;
  height: 40%;
  left: 35vw;
  top: 27vh;
}

.comfort-text-container h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  width: 100%;
  color: #494747;
}
.comfort-text-container h1 span {
  color: #c73c41;
}

.comfort-text-container p {
  color: #494747;
  width: 100%;
  font-size: 1.5rem;
  padding-right: 10rem;
  line-height: 1.5;
}

.comfort-text-container h3 {
  font-size: 20px;
  color: #494747;
  font-weight: 500;
  margin-top: 20px;
}

.comfort-text-container h3 span {
  color: #c73c41;
  font-size: 25px;
  font-weight: 800;
}

.buttons {
  width: 350px;
  margin-top: 20px;
}

.buttons .buy-but {
  margin-top: 10px;
  margin-right: 20px;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 15px;
  background-color: #c73c41;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.buttons .back-but {
  color: #494747;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px solid #494747;
  width: 100px;
  height: 36px;
  border-radius: 11px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons .back-but i {
  font-size: 1.5rem;
  opacity: 90%;
}

.buttons button:hover {
  scale: 1.07;
}